body {
    margin: 0 auto;
}
main {
    margin: 0 auto;
    vertical-align: middle;
    margin-bottom: 20%;
    margin-top: 2%;
}
.option {
    display: inline-block;
}
a {
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin: 10px;
}
header {
    vertical-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 1%;
}
img {
    display: inline;
}
#generator {
    float: left;
    padding: 10px 20px;
    background-color: black;
    width: 400px;
    min-height: 180px;
    margin-bottom: 100px;
    margin-top: 40px;
}
#num {
    width: 30%;
    float: left;
    padding: 10px 40px;
}
#generator p {
    text-align: left;
    padding: 1%;
}
#gen {
    margin: 0 auto;
    vertical-align: middle;
    width: 80%;
    max-width: 800px;
}
#gen fieldset {
    width: 120px;
    display: inline-block;
    margin-right: 100px;
}
#generated {
    background-color: white;
    text-decoration: none;
    padding: 0;
    vertical-align: middle;
    margin: 10px auto;
}
button {
    background-color: white;
    border: 1.4px solid dimgrey;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
button:hover {
    border: white;
    background-color: lightgray;
}
button:active {
    background-color: black;
    color: white;
    border: none;
}
fieldset {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
img:hover {
    opacity: 0.7;
}

label {
    font-family: 'Catamaran', sans-serif;
}
header h1 {
    color: black;
    margin: 0;
    line-height: 1em;
}
header img {
    position: absolute;
    bottom: 86%;
    left: 80%;
    display: inline-block;
}
* {
    color: black;
    text-align: center;
    font-family: 'Catamaran', serif;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1em;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 0;
    text-align: left;
}
#name {
    font-size: 1em;
    font-family: 'Catamaran', serif;
    text-decoration: overline;
    margin-top: 1px;
    padding-top: 0;
    color: black;
    text-align: center;
}

button {
    background-color: white;
    border: 1.4px solid dimgrey;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
button:hover {
    border: white;
    background-color: lightgray;
}
button:active {
    background-color: black;
    color: white;
    border: none;
}
footer {
    background: black;
    position: fixed;
    top: 93%;
    padding: 5px;
    width: 100%;
}
footer p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

/* TABLET */
@media screen and (max-width: 900px) {
    * {
        float: none;
        margin: 0 auto;
    }
    header img {
        left: 85%;
        height: 40px;
        width: 40px;
    }
    #gen {
        margin-top: 20px;
    }
    #sources {
        width: 380px;
    }
    #generator {
        width: 400px;
        margin-top: 20px;
    }
}

/* MOBILE */
@media screen and (max-width: 550px) {
    * {
        float: clear;
        margin: 0 auto;
        position: static;
    }
    header img {
        display: none;
    }
    div {
        width: 100%;
    }
    h1 {
        font-size: 2.5em;
    }
    header {
        margin: 2%;
    }
    #name {
        font-size: 0.8em;
    }
    #sources {
        width: 250px;
    }
    #gen {
        width: 250px;
        margin-top: 20px;
        position: absolute;
        right: 135px;
    }
    #gen p {
        font-size: 0.8em;
    }
    #gen fieldset {
        width: 250px;
    }
    #generator {
        margin-top: 50px;
        margin-bottom: 200px;
        width: 250px;
        float: none;
        display: block;
    }
}
